* {
  box-sizing: border-box; }

img {
  width: 100%;
  display: block; }


.profile {
  display: inline-block;
  width: 30%;
  vertical-align: top;
	font-size:14px;
  background-color: #D4F1C6;
  padding-left: 15px;
  margin: 10px;
}
